.common-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  justify-content: center;
  padding: 5px 15px;
}

.common-btn_text {
  margin: 0;
  color: inherit;
  font-weight: 500;
  font-size: 120%;
  line-height: 36px;
}

.btn-orange {
  background: #ff7420;
  color: white;
}
.btn-white {
  background-color: white;
  color: black;
}

.btn-black {
  background-color: black;
  border-radius: 10px;
  color: white;
}

.btn-orange-icon {
  width: 25px;
}
